<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <title>Playlistify - Edit Track</title>
  </head>
  <body>
    <!-- Main -->
    <div class="container">
      <header class="profile-header" style="margin-bottom: 20px;">
        <div class="top-bar">
          <img src="<%= user.photo %>" class="profile-photo" />
          <div class="deets">Logged in as <u><%= user.email %></u></div>
          <a class="logout" href="/logout"
            ><i class="material-icons-round">logout</i>Log out</a
          >
          <a class="profile-button" href="/profile"
            ><i class="material-icons-round">person</i>Go to profile</a
          >
        </div>
      </header>
      <section class="form-content">
        <h1 class="form-title">Edit your track rating.</h1>
        <p class="form-desc">
          Change your current star rating for the chosen track in the form below
          to a new one. Yeah we can do that indeed! ( ੭ ･ᴗ･ )੭
        </p>
        <div class="form">
          <form autocomplete="off">
            <div class="form-group">
              <label for="track_name">Track Name:</label>
              <input
                type="text"
                name="track_name"
                value="<%= trackObj.track %>"
                disabled
              />
            </div>
            <div class="form-group">
              <label for="track_artist">Track Artist:</label>
              <input
                type="text"
                name="track_artist"
                value="<%= trackObj.artist %>"
                disabled
              />
            </div>
            <div class="form-group">
              <label for="track_rating" style="display: inline-block"
                >Star rating:</label
              >
              <div class="star-rating">
                <li>
                  <input type="radio" name="stars" value="1" <%= rating == 1 ?
                  'checked':''%> />
                  <label for="1-star"
                    >1 star -
                    <i class="material-icons-round star-icon"
                      >star_rate</i
                    ></label
                  >
                </li>
                <li>
                  <input type="radio" name="stars" value="2" <%= rating == 2 ?
                  'checked':''%>/>
                  <label for="2-star">
                    2 stars - <% for(var i = 0; i < 2; i++) { %>
                    <i class="material-icons-round star-icon">star_rate</i>
                    <% } %>
                  </label>
                </li>
                <li>
                  <input type="radio" name="stars" value="3"<%= rating == 3 ?
                  'checked':''%>/>
                  <label for="3-star">
                    3 stars - <% for(var i = 0; i < 3; i++) { %>
                    <i class="material-icons-round star-icon">star_rate</i>
                    <% } %>
                  </label>
                </li>
                <li>
                  <input type="radio" name="stars" value="4" <%= rating == 4 ?
                  'checked':''%>/>
                  <label for="4-star">
                    4 stars - <% for(var i = 0; i < 4; i++) { %>
                    <i class="material-icons-round star-icon">star_rate</i>
                    <% } %>
                  </label>
                </li>
                <li>
                  <input type="radio" name="stars" value="5" <%= rating == 5 ?
                  'checked':''%>/>
                  <label for="5-star">
                    5 stars - <% for(var i = 0; i < 5; i++) { %>
                    <i class="material-icons-round star-icon">star_rate</i>
                    <% } %>
                  </label>
                </li>
              </div>
            </div>
            <div class="error_output"></div>
            <button id="edit_track">Edit new rating</button>
          </form>
        </div>
      </section>
    </div>
    <!-- /Main -->
    <script src="js/editTrack.js"></script>
  </body>
</html>