<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <title>Playlistify</title>
  </head>
  <body>
    <div class="container">
      <!-- Header -->
      <section class="index-header">
        <div class="first-half">
          <div class="auth-buttons">
            <a class="register-button" href="/register">Register</a>
            <a class="login-button" href="/login">Login</a>
            <a class="google-login-button" href="/auth/google">Google Login</a>
          </div>
          <div class="index-text">
            <h1>Playlistify!</h1>
            <div class="custom-underline"></div>
            <div class="index-desc">
              <p>
                This site is for <u>passionate</u> and <u>dedicated</u> music
                enthusiasts.
              </p>
              <p>
                <u>Explore</u> what the other Playlistify users are listening to<br> and stay in touch with
                <u>today's popular songs</u>.
              </p>
              <p>All of your <u>favourite songs in one place</u>.</p>
            </div>
          </div>
          <div class="next-section">
            Checkout all songs stored in Playlistify
            <span class="material-icons-outlined expand-more">expand_more</span>
          </div>
        </div>
        <div class="bottom-half"></div>
      </section>
      <!-- /Header -->
      <section class="index-content">
        <div class="index-content-desc">
          <h1>All songs stored in Playlistify!</h1>
          The list below shows all the tracks each Playlisty user rated.<br>
          Click on the star rating for each track to see more details on the ratings.<br>
          See if you've heard any of the tracks below... (づ •. •)?
        </div>
        <div class="table-container">
          <table class="index-table">
            <thead>
              <tr>
                <th>#</th>
                <th>Cover Art</th>
                <th>Track Name</th>
                <th>Artist</th>
                <th>Total Ratings</th>
                <th># of users rated</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i = 0; i < allTracks.length; i++) { %>
              <tr>
                <td><%= i + 1 %></td>
                <td class="cover-art-data">
                  <img src="<%= allTracks[i].imageUrl %>" />
                </td>
                <td class="trk-post"><%= allTracks[i].track %></td>
                <td class="artist-post"><%= allTracks[i].artist %></td>
                <% let totalRatings = 0; %> 
                <% for(var j = 0; j < allTracks[i].ratedBy.length; j++) { %>
                   <% totalRatings += allTracks[i].ratedBy[j].starRating %> 
                <% } %>
                <td><%= totalRatings %></td>
                <td>
                    <a href="/track?id=<%= allTracks[i]._id%>"><%= allTracks[i].ratedBy.length %> 
                      <%= allTracks[i].ratedBy.length == 1 ? 'user' : 'users' %></a>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>