<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <title>Playlistify - Profile</title>
  </head>
  <body>
    <div class="container">
      <!-- Header -->
      <header class="profile-header">
        <div class="top-bar">
          <img src="<%= user.photo %>" class="profile-photo" />
          <div class="deets">Logged in as <u><%= user.email %></u></div>
          <a class="logout" href="/logout"
            ><i class="material-icons-round">logout</i>Log out</a
          >
          <a class="add-track-button" href="/add-track"
            ><i class="material-icons-round">playlist_add</i>Add new track</a
          >
        </div>
        <div class="title"><%= user.username %>'s favourite playlist!</div>
        <div class="desc">
          Your current favourites have been compiled into one list!
          <p>Woohoo °˖✧◝(⁰▿⁰)◜✧˖°</p>
        </div>
      </header>
      <!-- /Header -->
      <!-- Content -->
      <div class="table-container">
        <table class="profile-table">
          <thead>
            <tr>
              <th>Cover Art</th>
              <th>Track Name</th>
              <th>Artist</th>
              <th>Star Rating</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < playlist.length; i++) { %>
            <tr>
              <td class="cover-art-data">
                <img src="<%= playlist[i].imageUrl %>" />
              </td>
              <td><%= playlist[i].track %></td>
              <td><%= playlist[i].artist %></td>
              <td>
                <% for(var j = 0; j < playlist[i].rating; j++) { %>
                <i class="material-icons-round star-icon">star_rate</i>
                <% } %>
              </td>
              <td>
                <div class="edit-and-delete">
                  <a href="/edit-track?id=<%= playlist[i].trackID%>"
                    ><i class="material-icons-outlined edit">edit</i></a
                  >
                  <a href="/delete-track?id=<%= playlist[i].trackID%>"
                    ><i class="material-icons-outlined delete">delete</i></a
                  >
                </div>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <!-- /Content -->
    </div>
  </body>
</html>