<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Playlistify - Profile</title>
</head>
<body>
    <!-- Header -->
    <header id="header">
        <nav>
            <div class="container">
                <h1>Profile</h1>
                <% if (user) { %>
                <a href="/logout">Log out</a></div><br>
                <p>Welcome, <i><%= user.username %> (<%= user.email %>)</i></p>
                <% } %>
            </div>
        </nav>
    </header>
    <!-- /Header -->
    <table>
        <thead>
            <tr>
                <th>Number</th>
                <th>Record</th>
                <th>Artist</th>
                <th>Scratch Rating</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% for(var i = 0; i < playlist.length; i++) { %>
                <tr>
                    <td><td><%= i %></td></td>
                    <td><%= playlist[i].track %></td>
                    <td><%= playlist[i].artist %></td>
                    <td><%= playlist[i].rating %></td>
                    <td><a href="/edit-track?id=<%= playlist[i].trackID%>">edit</a></td>
                    <td><a href="/delete-track?id=<%= playlist[i].trackID%>">delete</a></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>