<!-- Include head content -->
<%- include('include/_head') %>
    <div class="container">
      <!-- Header -->
      <header class="profile-header">
        <div class="top-bar">
          <img src="<%= user.photo %>" class="profile-photo" />
          <div class="deets">Logged in as <u><%= user.email %></u></div>
          <a class="logout" href="/logout"
            ><i class="material-icons-round">logout</i>Log out</a
          >
          <a class="add-track-button" href="/add-track"
            ><i class="material-icons-round">playlist_add</i>Add new track</a
          >
        </div>
        <div class="title"><%= user.username %>'s favourite playlist!</div>
        <div class="desc">
          Your current favourites have been compiled into one list!
          <p>Woohoo °˖✧◝(⁰▿⁰)◜✧˖°</p>
        </div>
      </header>
      <!-- /Header -->
      <!-- Content -->
      <div class="table-container">
        <table class="profile-table">
          <thead>
            <tr>
              <th>Cover Art</th>
              <th>Track Name</th>
              <th>Artist</th>
              <th>Star Rating</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < playlist.length; i++) { %>
            <tr>
              <td class="cover-art-data">
                <img src="<%= playlist[i].imageUrl %>" />
              </td>
              <td><%= playlist[i].track %></td>
              <td><%= playlist[i].artist %></td>
              <td>
                <% for(var j = 0; j < playlist[i].rating; j++) { %>
                <i class="material-icons-round star-icon">star_rate</i>
                <% } %>
              </td>
              <td>
                <div class="edit-and-delete">
                  <a href="/edit-track?id=<%= playlist[i].trackID%>"
                    ><i class="material-icons-outlined edit">edit</i></a
                  >
                  <a href="/delete-track?id=<%= playlist[i].trackID%>"
                    ><i class="material-icons-outlined delete">delete</i></a
                  >
                </div>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <!-- /Content -->
    </div>
  </body>
</html>