<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <title>Playlistify - Edit Track</title>
  </head>
  <body>
    <!-- Main -->
    <div class="container">
      <div class="track-wrapper">
        <img class="track-cover" src="<%= track.imageUrl %>"/>
        <div class="track-deets">
          <p class="track-name">Name:<span><%= track.track %></span></p>
          <p class="track-artist">Artist:<span><%= track.artist %></span></p>
          <p class="total-ratings">Total star ratings:<span><%= totalRatings %> stars</span></p>
        </div>
      </div>
      <div class="rated-list">
        <h2>This track is rated by the following users:</h2>
        <ul>
          <% for(var i = 0; i < track.ratedBy.length; i++) { %>
            <li>
              <img class="rated-by-photo" src="<%= track.ratedBy[i].photo %>"/>
              <%= track.ratedBy[i].username %> 
              <span>(<%= track.ratedBy[i].email %>)</span>
              rated with <%= track.ratedBy[i].starRating %> stars.
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </body>
</html>