<!-- Include head content -->
<%- include('include/_head') %>
    <!-- Main -->
    <div class="container">
      <div class="track-wrapper">
        <img class="track-cover" src="<%= track.imageUrl %>"/>
        <div class="track-deets">
          <p class="track-name">Name:<span><%= track.track %></span></p>
          <p class="track-artist">Artist:<span><%= track.artist %></span></p>
          <p class="total-ratings">Total star ratings:<span><%= totalRatings %> stars</span></p>
        </div>
      </div>
      <div class="rated-list">
        <h2>This track is rated by the following users:</h2>
        <ul>
          <% for(var i = 0; i < track.ratedBy.length; i++) { %>
            <li>
              <img class="rated-by-photo" src="<%= track.ratedBy[i].photo %>"/>
              <%= track.ratedBy[i].username %> 
              <span>(<%= track.ratedBy[i].email %>)</span>
              rated with <%= track.ratedBy[i].starRating %> stars.
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </body>
</html>